.input-group.input-group-dynamic .form-control,.input-group.input-group-static .form-control{
    background-image: linear-gradient(0deg, #fb8c00 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0);
}

.bg-gradient-primary {
    background-image: linear-gradient(195deg, rgb(252, 174, 5) 0%, rgb(255, 158, 12) 100%);
}

small{
    color: red;
    font-size: small;
}

input#file-upload-button ::after{
   background-color: #fb8c00;
}
