<div class="col-12">
  <div>
    <label for="">Ajouter des équipements</label>
    <input class="float-end" type="file" (change)="handleFileInput($event)">
</div>
    <div class="card my-4">   
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Nouveau équipement</h6>
            </div>
          </div>
        <div class="p-4">
            <form [formGroup]="newEquipementForm" (ngSubmit)="save()">
                <div class="input-group input-group-static mb-4">
                    <label for="exampleFormControlSelect1" class="ms-0">Type</label>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="type">
                      <option></option>
                      <option>PC portatif</option>
                      <option>Téléphone portable</option>
                      <option>Casque</option>
                      <option>PC Bureautique</option>
                      <option>Tablette</option>
                    </select>
                </div>
                <small *ngIf="newEquipementForm.controls.type.invalid && newEquipementForm.controls.type.touched">
                    type is required.
                </small>

                <div class="input-group input-group-static mb-4">
                    <label for="exampleFormControlSelect1" class="ms-0">Marque</label>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="brand" aria-placeholder="Marque">
                      <option></option>
                      <option>Dell</option>
                      <option>Asus</option>
                      <option>HP</option>
                    </select>
                </div>
                <small *ngIf="newEquipementForm.controls.brand.invalid && newEquipementForm.controls.brand.touched">
                    brand is required.
                </small>
            
                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="Référence" type="text" class="form-control" formControlName="reference">
                </div>

                <small *ngIf="newEquipementForm.controls.reference.invalid && newEquipementForm.controls.reference.touched">
                    reference is required.
                </small>

                <div class="input-group input-group-dynamic mb-4">
                  <input placeholder="Etat" type="text" class="form-control" formControlName="status" readonly>
                </div>
          
                <small *ngIf="newEquipementForm.controls.status.invalid && newEquipementForm.controls.status.touched">
                    status is required.
                </small>

                <div class="input-group input-group-dynamic mb-4">
                  <textarea placeholder="Description" id="" cols="116" rows="6" formControlName="description"></textarea>
                </div>

                <!-- <small *ngIf="newEquipementForm.controls.date.invalid && newEquipementForm.controls.date.touched">
                    date is required.
                </small> -->

                <button ttype="submit" class="btn btn-warning float-end">Ajouter</button>

              </form>
        </div>
  </div>
</div>