<div class="col-12">
    <div class="card my-4">   
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Attribuer un équipement</h6>
            </div>
          </div>
        <div class="p-4">
            <form [formGroup]="assignEquipementForm" (ngSubmit)="save()">
                <div class="input-group input-group-static mb-4">
                    <label for="exampleFormControlSelect1" class="ms-0">Choisissez l'utilisateur</label>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="username">
                      <option></option>
                      <option *ngFor="let user of users" [value]="user.id">{{user.firstname}} {{user.lastname}}</option>
                    </select>
                </div>
                <small *ngIf="assignEquipementForm.controls['username'].invalid && assignEquipementForm.controls['username'].touched">
                    User is required.
                </small>

                <div class="input-group input-group-static mb-4">
                    <label for="exampleFormControlSelect1" class="ms-0">Choisissez l'équipement</label>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="reference">
                      <option></option>
                      <option *ngFor="let equipment of equipments" [value]="equipment.id">{{equipment.reference}}</option>
                    </select>
                </div>
                <small *ngIf="assignEquipementForm.controls['reference'].invalid && assignEquipementForm.controls['reference'].touched">
                    Equipment is required.
                </small>

                <div class="input-group input-group-static mb-4">
                  <label for="exampleFormControlSelect1" class="ms-0">Pour quel but ?</label>
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="action">
                    <option></option>
                    <option value="UTILISATION">Utilisation</option>
                    <option value="MAINTENANCE">Maintenance</option>
                  </select>
              </div>
              <!-- <small *ngIf="assignEquipementForm.controls.action.invalid && assignEquipementForm.controls.action.touched">
                  action is required.
              </small> -->

                <button ttype="submit" class="btn btn-warning float-end">Enregistrer</button>

              </form>
        </div>
  </div>
</div>