<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
     <nav aria-label="breadcrumb">
    
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
      <!-- <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
      <li class="breadcrumb-item text-sm text-dark active" aria-current="page">index</li> -->
    </ol>
    <!-- <h6 class="font-weight-bolder mb-0">index</h6> -->
    
  </nav>
  <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
    </div>
    <ul class="navbar-nav  justify-content-end">
      <li class="nav-item d-flex ps-3 align-items-center">
        <a href="./pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
          <i class="fa fa-user me-sm-1 text-dark"></i>          
        </a>
      </li>
      <li class="nav-item px-3 d-flex align-items-center">
        <form (ngSubmit)="logout()">
          <button type="submit" class="nav-link text-body p-0 border-0">
            <i class="fa fa-sign-out me-sm-1 text-danger"></i>
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>
</nav>