<footer class="footer py-4">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            © Tous droits réservés 2023 · Conception & Development by OPERAM.
          </div>
        </div>
      </div>
    </div>
</footer>