.bg-gradient-primary{
    background-color: rgb(252, 174, 5);
    background-image: none;
}

.bg-gradient-primary:hover{
    background-color: white;
    color: rgb(252, 174, 5);
    background-image: none;
}

.btn-primary, .btn.bg-gradient-primary , .btn.bg-gradient-primary:hover {
    box-shadow: 0 3px 3px 0 rgba(233, 213, 30, 0.15), 0 3px 1px -2px rgba(233, 220, 30, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.15) !important;
}

.btn-outline-primary {
    --bs-btn-color: rgb(252, 174, 5);
    --bs-btn-border-color: rgb(252, 174, 5);
}

.btn-outline-primary:hover{
    color: rgb(252, 174, 5);
    border-color: rgb(252, 174, 5);
}

a{
    color: white;
}
