<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
  id="sidenav-main">

    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0"  *ngIf="userRole == 'ADMIN'" routerLink="/home">
        <img src="./assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Get-It</span>
      </a>
      <a class="navbar-brand m-0"  *ngIf="userRole == 'CONSULTANT'">
        <img src="./assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Get-It</span>
      </a>
    </div>
  
  
    <hr class="horizontal light mt-0 mb-2">
  
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">     
    
  <li class="nav-item"  *ngIf="userRole == 'ADMIN'">
    <a class="nav-link text-white " routerLink="/users">
      
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">group</i>
        </div>
      
      <a class="nav-link-text ms-1">Utilisateurs</a>
    </a>
  </li>
  
  <li class="nav-item"  *ngIf="userRole === 'ADMIN'">
    <a class="nav-link text-white " routerLink="/equipments">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">phonelink</i>
        </div>
        <a class="nav-link-text ms-1">Equipements</a>
      </a>
  </li>

  <li class="nav-item" *ngIf="userRole === 'CONSULTANT'">
    <a class="nav-link text-white " routerLink="/equipments">
      
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">phonelink</i>
        </div>
      
        <a class="nav-link-text ms-1" >Mes équipements</a>
      </a>
  </li>
    
  <li class="nav-item" *ngIf="userRole === 'ADMIN'">
    <a class="nav-link text-white " routerLink="/new-equipment">
      
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <!-- <i class="material-icons opacity-10">add_to_queue</i> -->
          <!-- <i class="material-icons opacity-10">library_add</i> -->
          <i class="material-icons opacity-10">add_box</i>
        </div>
      
      <span class="nav-link-text ms-1">Ajouter un équipement</span>
    </a>
  </li>
  <li class="nav-item" *ngIf="userRole === 'ADMIN'">
    <a class="nav-link text-white " routerLink="/assign-equipment">
      
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">how_to_reg</i>
          <!-- <i class="material-icons opacity-10">publish</i> -->
        </div>
      
      <span class="nav-link-text ms-1">Attribuer un équipement</span>
    </a>
  </li>
  
  <li class="nav-item" *ngIf="userRole === 'ADMIN'">
    <a class="nav-link text-white " routerLink="/new-user">
      
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">table_view</i>
        </div>
      
      <span class="nav-link-text ms-1">Ajouter un utilisateur</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="userRole === 'ADMIN'">
    <a class="nav-link text-white " routerLink="/update-my-password">
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">https</i>
      </div>
        <a class="nav-link-text ms-1">Modifier mon mot de passe</a>
      </a>
  </li>
  
    </ul>
  </div>

</aside>