<div class="container my-auto">
    <div class="row">
        <div class="col-lg-8 m-auto p-5">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="input-group input-group-outline my-3">
                            <input placeholder="Email" type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                            <input placeholder="Password" type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>