<div class="col-12">
    <div class="card my-4">   
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Modifier l'utilisateur</h6>
            </div>
          </div>
        <div class="p-4">
            <form [formGroup]="updateUserForm" (ngSubmit)="save()">
                <label for="lastname" class="ms-0">Nom</label>
                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="" type="text" class="form-control" formControlName="lastname">
                </div>
                <small *ngIf="updateUserForm.controls['lastname'].invalid && updateUserForm.controls['lastname'].touched">
                    lastName is required.
                </small>

                <label for="firstname" class="ms-0">Prénom</label>
                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="" type="text" class="form-control" formControlName="firstname">
                </div>
                <small *ngIf="updateUserForm.controls['firstname'].invalid && updateUserForm.controls['firstname'].touched">
                    firstName is required.
                </small>

                <label for="username" class="ms-0">Nom d'utilisateur</label>
                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="" type="text" class="form-control" formControlName="username">
                </div>
                <small *ngIf="updateUserForm.controls['username'].invalid && updateUserForm.controls['username'].touched">
                    username is required.
                </small>

                <label for="email" class="ms-0">Email</label>
                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="" type="text" class="form-control" formControlName="email">
                </div>
                <small *ngIf="updateUserForm.controls['email'].invalid && updateUserForm.controls['email'].touched">
                    email is required.
                </small>

                <label for="phone_number" class="ms-0">Téléphone</label>
                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="" type="text" class="form-control" formControlName="phone_number">
                </div>
                <small *ngIf="updateUserForm.controls['phone_number'].invalid && updateUserForm.controls['phone_number'].touched">
                    phone_number is required.
                </small>

                <!-- <label for="password" class="ms-0">Mot de passe</label>
                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="" type="text" class="form-control" formControlName="password">
                </div>
                <small *ngIf="updateUserForm.controls['password'].invalid && updateUserForm.controls['password'].touched">
                    password is required.
                </small> -->

                <label for="role" class="ms-0">Rôle</label>
                <div class="input-group input-group-dynamic mb-4">
                  <!-- <input placeholder="Rôle" type="text" class="form-control" formControlName="role"> -->
                  <select class="form-control" id="role" formControlName="role" aria-placeholder="Rôle">
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                  </select>
                </div>
            
                <small *ngIf="updateUserForm.controls['role'].invalid && updateUserForm.controls['role'].touched">
                    Rôle is required.
                </small>

                <button ttype="submit" class="btn btn-warning float-end">Enregistrer</button>

              </form>
        </div>
  </div>
</div>
