<div class="container-fluid py-4" *ngIf="userRole === 'ADMIN'; else welcomePage">
  <div class="row">
    <canvas #myCanvas1 *ngIf="!showOldEqp"></canvas>
    <div class="row" *ngIf="showOldEqp">
      <canvas #myCanvas2 class="col-2"></canvas>
      <div class="col-2"></div>
      <div class="card col-3">
        <div class="card-header pt-2">
          <div class="text-end pt-1">
            <p class="text-sm mb-0">Nombre des équipements qui ont plus de trois ans </p>
            <h4 class="mb-0">{{oldEqp}}</h4>
          </div>
        </div>
      </div>
    </div>
    <button (click)="toggle()">Statistique des équipements obsolètes</button>
  </div>
</div>
<ng-template #welcomePage>
  <div class="container-fluid py-4 pt-5">
    <h4 class="font-weight-normal">Bienvenue {{userObj.lastname}} {{userObj.firstname}} !</h4>
    <img src="../../../assets/img/welcome-1.png" alt="welcome-1" class="w-10 pt-7 mx-8 d-block">
  </div>
</ng-template>