.icon-lg {
    height: 3.6000000000000014em;
    width: 3.5999999999999996em;
}

#myCanvas1 {
    width: 50%;
    height: 50%;
  }

button{
    background-color: rgb(252, 174, 5); /* Green */
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: fit-content;
    border-radius: 4px;
    margin-left: 30%;
}

canvas{
    display: block;
    box-sizing: border-box;
    height: 400px !important;
    width: 987px;
}

.card.col-3{
height: 30%;
}