<div class="col-12">
    <div class="card my-4">   
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Modifier mon mot de passeolo</h6>
            </div>
          </div>
        <div class="p-4">
            <form [formGroup]="updatePasswordForm" (ngSubmit)="save()">

                <label for="email" class="ms-0">Email</label>
                <div class="input-group input-group-dynamic mb-4">
                  <input placeholder="" type="text" class="form-control" formControlName="email">
                </div><br>
            
                <label for="current_password" class="ms-0">Mot de passe actuel</label>
                <div class="input-group input-group-dynamic mb-4">
                  <input placeholder="" type="text" class="form-control" formControlName="current_password">
                </div>
                <small *ngIf="updatePasswordForm.controls['current_password'].invalid && updatePasswordForm.controls['current_password'].touched">
                  current_password is required.
                </small><br>

                <label for="new_password" class="ms-0">Nouveau mot de passe</label>
                <div class="input-group input-group-dynamic mb-4">
                  <input placeholder="" type="text" class="form-control" formControlName="new_password">
                </div>
                <small *ngIf="updatePasswordForm.controls['new_password'].invalid && updatePasswordForm.controls['new_password'].touched">
                  new_password is required.
                </small>

                <button type="submit" class="btn btn-warning float-end">Enregistrer</button>

              </form>
        </div>
  </div>
</div>