<div class="col-12">
  <div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
      <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
        <h6 class="text-white ps-3">Liste des équipements</h6>
      </div>
    </div>
    <div class="card-body px-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Référence</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Marque</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Localisation</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Etat</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipment of equipments">
              <td class="align-middle">
                <div class="d-flex px-2 py-1">
                  <div>
                    <img src="../assets/img/equipment.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="equipment1">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{equipment.id}}</h6>
                  </div>
                </div>
              </td>
              <td class="align-middle">
                <span class="text-secondary text-xs font-weight-bold">{{equipment.reference}}</span>
              </td>
              <td class="align-middle text-center text-sm" >
                  <span class="text-secondary text-xs font-weight-bold">{{equipment.type}}</span>    
              </td>
              <td class="align-middle text-center">
                 <span class="text-secondary text-xs font-weight-bold">{{equipment.brand}}</span>
              </td>
              
              <td class="align-middle">
                <span class="text-secondary text-xs font-weight-bold"></span>
              </td>
              
              <td class="align-middle">
                <span class="text-secondary text-xs font-weight-bold">{{equipment.location}}</span>
              </td>

              <td>
                <span class="text-secondary text-xs font-weight-bold">{{equipment.status}}</span>
              </td>

            <td class="align-middle">
              <span class="text-secondary text-xs font-weight-bold">{{equipment.description}}</span>
          </td>
                
              <td class="align-middle text-center list-icons">
                <span class="text-secondary text-xs font-weight-bold">
                  <i class="material-icons opacity-10">visibility</i>&nbsp;&nbsp;
                  <a (click)="navigateWithData(equipment)" style="cursor: pointer;">
                    <i class="material-icons opacity-10">edit</i>
                  </a>&nbsp;&nbsp;
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>