.bg-gradient-primary {
    background-image: linear-gradient(195deg, rgb(252, 174, 5) 0%, rgb(255, 158, 12) 100%);
}

input{
    border: none;
    outline: none;
}

.list-icons i {
    color: #248cc1;
}