<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"  *ngIf="showHeaderFooter">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9">
      <app-header *ngIf="showHeaderFooter"></app-header>
      <router-outlet></router-outlet>
      <app-footer *ngIf="showHeaderFooter"></app-footer>
    </div>
  </div>
</div>