<div class="col-12">
  <div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
      <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
        <h6 class="text-white ps-3">Liste des utilisateurs</h6>
      </div>
    </div>
    <div class="card-body px-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">utilisateurs</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fonction</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Equipements</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Localisation</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="users.length === 0 || !users">
              <p>Pas de résultat</p>
            </tr>
            <tr *ngFor="let user of users">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <img [src]="getImageUrl(user.id)"  class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{user.firstname}} {{user.lastname}}</h6>
                    <p class="text-xs text-secondary mb-0">{{user.email}}</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">{{user.role}}</p>
              </td>
              <td class="align-middle text-center text-sm" >
                <div class="d-flex flex-column justify-content-center" *ngFor="let equipment of user.equipments">
                  <span>{{equipment.type}} : {{equipment.brand}}</span>                       
                </div>
                
              </td>
              <td></td>
              <td class="align-middle">
                <div class="d-flex flex-column justify-content-center" *ngFor="let equipment of user.equipments">
                  <span class="text-secondary text-xs font-weight-bold">{{equipment.location}}</span>
                </div>
              </td>
              <td class="align-middle text-center list-icons">
                <span class="text-secondary text-xs font-weight-bold">
                  <i class="material-icons opacity-10">visibility</i>&nbsp;&nbsp;
                  <a (click)="navigateWithData(user)" style="cursor: pointer;">
                    <i class="material-icons opacity-10">edit</i>
                  </a>&nbsp;&nbsp;
                  <i class="material-icons opacity-10">delete</i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>