<div class="col-12">
  <div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
      <div
        class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
      >
        <h6 class="text-white ps-3">Liste des équipements</h6>
      </div>
    </div>
    <div class="card-body px-0 pb-2">
      <div class="row justify-content-end px-3 mb-3">
        <div class="col-md-4 col-lg-3">
          <div class="form-group">
            <label for="filterType" class="form-label">Type:</label>
            <input
              type="text"
              class="form-control border"
              id="filterType"
              [(ngModel)]="filterType"
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="form-group">
            <label for="filterLocalisation" class="form-label"
              >Localisation:</label
            >
            <input
              type="text"
              class="form-control border"
              id="filterLocalisation"
              [(ngModel)]="filterLocalisation"
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="form-group">
            <label for="filterMarque" class="form-label">Marque:</label>
            <input
              type="text"
              class="form-control border"
              id="filterMarque"
              [(ngModel)]="filterMarque"
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="form-group">
            <label for="filterMarque" class="form-label">Etat:</label>
            <select
              class="form-select border"
              id="filterEtat"
              [(ngModel)]="filterEtat"
            >
              <option value="">Tous les états</option>
              <option value="AVAILABLE">AVAILABLE</option>
              <option value="ASSIGNED">ASSIGNED</option>
              <option value="IN_MAINTENANCE">IN_MAINTENANCE</option>
              <option value="OUTDATED">OUTDATED</option>
            </select>
          </div>
        </div>
      </div>

      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                ID
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Référence
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Type
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Marque
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Date
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Localisation
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Etat
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Description
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="equipments.length === 0 || !equipments">
              <p>Pas de résultat</p>
            </tr>
            <tr *ngFor="let equipment of equipments">
              <ng-container
                *ngIf="
                  (!filterType || equipment.type === filterType) &&
                  (!filterLocalisation ||
                    equipment.location === filterLocalisation) &&
                  (!filterMarque || equipment.brand === filterMarque) &&
                  (!filterEtat || equipment.status === filterEtat)
                "
              >
                <td class="align-middle">
                  <div class="d-flex px-2 py-1">
                    <div>
                      <img
                        src="../assets/img/equipment.jpg"
                        class="avatar avatar-sm me-3 border-radius-lg"
                        alt="equipment1"
                      />
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{ equipment.id }}</h6>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <span class="text-secondary text-xs font-weight-bold">{{
                    equipment.reference
                  }}</span>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="text-secondary text-xs font-weight-bold">{{
                    equipment.type
                  }}</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{
                    equipment.brand
                  }}</span>
                </td>
                <td class="align-middle">
                  <span class="text-secondary text-xs font-weight-bold"></span>
                </td>
                <td class="align-middle">
                  <span class="text-secondary text-xs font-weight-bold">{{
                    equipment.location
                  }}</span>
                </td>
                <td>
                  <span class="text-secondary text-xs font-weight-bold">{{
                    equipment.status
                  }}</span>
                </td>
                <td class="align-middle">
                  <span class="text-secondary text-xs font-weight-bold">{{
                    equipment.description
                  }}</span>
                </td>
                <td class="align-middle text-center list-icons">
                  <span class="text-secondary text-xs font-weight-bold">
                    <i class="material-icons opacity-10">visibility</i
                    >&nbsp;&nbsp;
                    <a *ngIf="userRole === 'ADMIN' && equipment.affected_value == 0" (click)="to_assign(equipment.id)" style="cursor: pointer;">
                      <i class="material-icons opacity-10">how_to_reg</i>
                    </a>&nbsp;&nbsp;
                    <!-- <a *ngIf="userRole === 'ADMIN'" [routerLink]="['/update-equipment', equipment.id, {equipment}]"><i class="material-icons opacity-10">edit</i></a>&nbsp;&nbsp; -->
                    <a
                      (click)="navigateWithData(equipment)"
                      style="cursor: pointer"
                    >
                      <i class="material-icons opacity-10">edit</i> </a
                    >&nbsp;&nbsp;
                    <a *ngIf="userRole === 'CONSULTANT'" style="cursor: pointer;" 
                      (click)="to_comment(equipment.id)" data-bs-toggle="modal" data-bs-target="#commentModal">
                      <i class="material-icons opacity-10">chat</i>
                    </a>
                  </span>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="commentModalLabel">
                  Rédiger votre commentaire
              </h5>
          </div>
          <div class="modal-body pb-0">
            <form [formGroup]="commentForm" (ngSubmit)="sendComment()">
              <div class="input-group input-group-dynamic">
                <textarea [(ngModel)]="textContent" placeholder="Votre commentaire ici" id="" cols="116" rows="6" 
                  formControlName="comment_text" (input)="updateCharactersCount()"></textarea>
                <div class="characters-count">{{ textContent.length }} / {{ maxLength }}</div>
              </div>
              <div *ngIf="commentForm.get('comment_text')?.invalid && (commentForm.get('comment_text')?.dirty || commentForm.get('comment_text')?.touched)">
                <small *ngIf="commentForm.get('comment_text')?.errors?.['maxlength']?.requiredLength" style="color: red;">Le champ ne peut pas dépasser 250 caractères.
                </small>
              </div>
              <div class="modal-footer mt-3 pe-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()">
                    Annuler
                </button>
                <button class="btn btn-danger me-0" type="submit" data-bs-dismiss="modal"
                  [disabled]="commentForm.get('comment_text')?.invalid || commentForm.get('comment_text')?.value?.length == 0 || commentForm.get('comment_text')?.errors?.['maxlength']?.requiredLength"
                  >
                    Envoyer
                </button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>
