.bg-gradient-primary {
    background-image: linear-gradient(195deg, rgb(252, 174, 5) 0%, rgb(255, 158, 12) 100%);
}
.list-icons i {
    color: #248cc1;
}
.characters-count {
    margin-left: auto; /* This will push the div to the right */
}
.input-group {
    justify-content: flex-end;
}
.btn {
    box-shadow: none;
}
.btn-danger {
    background-color: rgb(252, 174, 5);
}