<div class="col-12">
    <div>
        <label for="">Ajouter des utilisateurs</label>
        <input class="float-end" type="file" (change)="handleFileInput($event)">
    </div>
    <div class="card my-4">   
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Nouveau utilisateur</h6>
            </div>
          </div>
        <div class="p-4">
            <form [formGroup]="newUserForm" (ngSubmit)="save()">
                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="Nom" type="text" class="form-control" formControlName="lastname">
                </div>
                <small *ngIf="newUserForm.controls.lastname.invalid && newUserForm.controls.lastname.touched">
                    lastName is required.
                </small>
                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="Prénom" type="text" class="form-control" formControlName="firstname">
                </div>
                <small *ngIf="newUserForm.controls.firstname.invalid && newUserForm.controls.firstname.touched">
                    firstName is required.
                </small>

                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="nom d'utilisateur" type="text" class="form-control" formControlName="username">
                </div>
                <small *ngIf="newUserForm.controls.username.invalid && newUserForm.controls.username.touched">
                    username is required.
                </small>

                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="Email" type="text" class="form-control" formControlName="email">
                </div>

                <small *ngIf="newUserForm.controls.email.invalid && newUserForm.controls.email.touched">
                    email is required.
                </small>

                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="mot de passe" type="text" class="form-control" formControlName="password">
                </div>
                
                <small *ngIf="newUserForm.controls.password.invalid && newUserForm.controls.password.touched">
                    password is required.
                </small>

                <div class="input-group input-group-dynamic mb-4">
                    <input placeholder="Téléphone" type="text" class="form-control" formControlName="phone_number">
                </div>
                <small *ngIf="newUserForm.controls.phone_number.invalid && newUserForm.controls.phone_number.touched">
                    phone_number is required.
                </small>

                <div class="input-group input-group-dynamic mb-4">
                  <!-- <input placeholder="Rôle" type="text" class="form-control" formControlName="role"> -->
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="role" aria-placeholder="Rôle">
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                  </select>
                </div>
            
                <small *ngIf="newUserForm.controls.role.invalid && newUserForm.controls.role.touched">
                    Rôle is required.
                </small>

                <button ttype="submit" class="btn btn-warning float-end">Ajouter</button>

              </form>
        </div>
  </div>
</div>
