<div class="col-12">
    <div class="card my-4">   
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Modifier un équipement</h6>
            </div>
          </div>
        <div class="p-4">
            <form [formGroup]="updateEquipementForm" (ngSubmit)="save()">

                <label *ngIf="userRole === 'ADMIN'; else disabledType" for="type" class="ms-0">Type</label>
                <ng-template #disabledType>
                  <label for="type" class="ms-0">Type <em>(champ désactivé)</em></label>
                </ng-template>
                <div class="input-group input-group-static mb-4">
                    <select class="form-control" id="type" formControlName="type">
                      <option></option>
                      <option>PC portatif</option>
                      <option>Téléphone portable</option>
                      <option>Casque</option>
                      <option>PC Bureautique</option>
                      <option>Tablette</option>
                    </select>
                </div>
                <small *ngIf="updateEquipementForm.controls['type'].invalid && updateEquipementForm.controls['type'].touched">
                    type is required.
                </small>

                <label *ngIf="userRole === 'ADMIN'; else disabledBrand" for="brand" class="ms-0">Marque</label>
                <ng-template #disabledBrand>
                  <label for="brand" class="ms-0">Marque <em>(champ désactivé)</em></label>
                </ng-template>
                <div class="input-group input-group-static mb-4">
                    <select class="form-control" id="brand" formControlName="brand" aria-placeholder="Marque">
                      <option></option>
                      <option>Dell</option>
                      <option>Asus</option>
                      <option>HP</option>
                    </select>
                </div>
                <small *ngIf="updateEquipementForm.controls['brand'].invalid && updateEquipementForm.controls['brand'].touched">
                    brand is required.
                </small>
            
                <label *ngIf="userRole === 'ADMIN'; else disabledRef" for="ref" class="ms-0">Référence</label>
                <ng-template #disabledRef>
                  <label for="ref" class="ms-0">Référence <em>(champ désactivé)</em></label>
                </ng-template>
                <div class="input-group input-group-dynamic mb-4">
                  <input placeholder="" type="text" class="form-control" formControlName="ref">
                </div>

                <small *ngIf="updateEquipementForm.controls['ref'].invalid && updateEquipementForm.controls['ref'].touched">
                    ref is required.
                </small>

                <label for="status" class="ms-0">Etat</label>
                <div class="input-group input-group-dynamic mb-4">
                  <select class="form-control" id="status" formControlName="status" aria-placeholder="Etat">
                    <option></option>
                    <option>AVAILABLE</option>
                    <option>ASSIGNED</option>
                    <option>IN_MAINTENANCE</option>
                    <option>OUTDATED</option>
                  </select>
                </div>
            
                <small *ngIf="updateEquipementForm.controls['status'].invalid && updateEquipementForm.controls['status'].touched">
                    status is required.
                </small>

                <label *ngIf="userRole === 'ADMIN'; else disabledDescription" for="description" class="ms-0">Description</label>
                <ng-template #disabledDescription>
                  <label for="description" class="ms-0">Description <em>(champ désactivé)</em></label>
                </ng-template>
                <div class="input-group input-group-dynamic mb-4">
                  <textarea placeholder="Description" id="" cols="116" rows="6" formControlName="description"></textarea>
                </div>

                <button ttype="submit" class="btn btn-warning float-end">Enregistrer</button>

              </form>
        </div>
  </div>
</div>